{{ template "header" }}
<main class="login-container">
    <h2>Trappeløp</h2>
    <div class="login-box">
      <form class="login-form" action="/aut/registrer-bruker" method="POST">
          <label for="username">Brukernavn</label>
          <input type="text" name="username" id="username" required />
          <label for="email">Din Epost</label>
          <input type="email" name="email" id="email" placeholder="Må være en '@soprasteria.com' adresse" />      
          <label for="passord">Ditt passord:</label>
          <input type="password" name="password" id="password" required />
          <input type="submit" value="Registrer"/>
      </form>
    </div>
</main>
  {{ template "footer" }}
