{{ template "header" }}

  <div class="login-container">
    <div class="login-box">
      <h2>Registrer bruker</h2>
      <form action="/registrer-bruker" method="POST">
          <label for="username">Ønsket Brukernavn</label>
          <input type="text" name="username" id="username" required />
        {{ template "emailfield" .email }}
          <label for="passord">Ditt passord:</label>
          <input type="password" name="password" id="password" required />
        <input type="submit" value="Registrer"/>
      </form>
    </div>
  </div>
  {{ template "footer" }}
