{{ template "header" }}
<main class="timer-page">
    <div class="timer-container">
        <h2 class=" ">TID ER STARTET</h2>
        <p>Skann QR kode i 7. etasje for å stoppe tiden</p>
    </div>
</main>
{{ template "footer" }}
