{{ template "header" }}
<main class="timer-page">
    <div class="timer-container">
        <h2>TID ER STOPPET</h2>
        <p>Du klarte det på {{ .minutes }}m {{ .seconds }}.{{ .tenths }}s</p>
        <a href="/">Se hvor du havnet på resultatlisten</a>
    </div>
</main>
{{ template "footer" }}
