{{ define "header" }}

<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/res/images/upstairs.png">
  <link rel="stylesheet" href="/res/css/style.css">
  <script src="/res/scripts/htmx_1-9-6.min.js"></script>
  <title>Værste Trappeløp - {{ .title }}</title>
</head>
<body  class="bg-mainbg text-white">
{{ end }}
