<table>
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Brukernavn</th>
      <th>Antall</th>
    </tr>
  </thead>
  <tbody>
    {{ range .timingData }}
    <tr>
      <td>{{ .Place }}</td>
      <td>{{ .Username }}</td>
      <td>{{ .Count }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>