<table class="leaderboard-table" style="table-layout: fixed;">
  <thead>
    <tr>
      <th class="text-left">Nr.</th>
      <th class="text-left" style="width:70%">Brukernavn</th>
      <th class="text-right">Antall</th>
    </tr>
  </thead>
  <tbody>
    {{ range .timingData }}
    <tr>
      <td class="text-left">{{ .Place }}</td>
      <td class="text-left username">{{ .Username }}</td>
      <td class="text-right">{{ .Count }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>