<table>
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Brukernavn</th>
      <th>Tid (min:sek.t)</th>
    </tr>
  </thead>
  <tbody>
    {{ range .timingData }}
    <tr>
      <td>{{ .Place }}</td>
      <td>{{ .Username }}</td>
      <td>{{ .Minutes }}:{{ if lt .Seconds 10}}0{{end}}{{ .Seconds }}.{{if lt .Tenths
        10}}00{{else}}{{if lt .Tenths 100}}0{{end}}{{end}}{{ .Tenths }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>