{{ define "header" }}

<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/res/images/upstairs.png">
  <script src="/res/scripts/htmx_1-9-6.min.js"></script>
  <link rel="stylesheet" href="/res/css/style.css">
  <link rel="stylesheet" href="/res/css/fonts.css">
  <title>Værste Trappeløp - {{ . }}</title>
</head>
<body>
{{ end }}
