@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import url('https://fonts.googleapis.com/css?family=Inter:700|DM%20Mono:400');
* {
  margin: 0px;
}
body {
  font-family: 'Poppins';
  font-weight: 400;
  height: 100vh;
}

#result-title {
  text-align: center;
  grid-column: 2;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.results-page {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: auto auto;
}

.main-container {
  grid-column: 2;
  padding: 2em;
  border-spacing:0;
  table-layout: fixed;
  width: 100%;
}

#tid {
  font-family: 'DM Mono';
}

.align-center {
  text-align: center;
}

.username {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th:first-child {
  width: 50px;
}
#times-rows > tr:nth-child(1) {
  background-color: gold;
}

#times-rows > tr:nth-child(2) {
  background-color: silver;
}

#times-rows > tr:nth-child(3) {
  background-color: #cf8338;
}

tr > td:last-child {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .results-page {
      grid-template-columns: 1fr;
  }
  
  #result-title {
    grid-column: 1;
    
  }
  .main-container {
    grid-column: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #tid {
    text-align: end;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
}

.login-box {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  padding: 20px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  max-width: 600px;
}

.login-form > input[type=text], .login-form > input[type=password], .login-form > input[type=email] {
  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.login-form > input[type=submit] {
  width: 100%;
  border-radius: 0px;
  border-style: none;
  background-color: black;
  color: whitesmoke;
  font-weight: 800;
  letter-spacing: 0.4em;
  padding: 10px 0 10px 0;
}
.login-form > input[type=submit]:hover {
  cursor: pointer;
}

.login-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.timer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.reset-password-description {
  padding-bottom: 15px;
}