<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/res/images/upstairs.png">
  <link rel="stylesheet" href="/res/css/style.css">
  <title>Værste Trappeløp - Resultater</title>
</head>

<body>
  <main>
    <h1 class="text-center">Resultater</h1>
    <div class="main-container">
      {{ range . }}
      <div class="result">
          <span>{{ .Place }}</span><span>{{ .Username }}</span><span>{{ .Minutes }}m</span><span>{{ .Seconds }}.{{ .Tenths }}s</span>
        </div>
      {{ end }}
    </div>
  </main>
</body>

</html>