<form class="login-form" action="/aut/nytt-passord" method="post">
    <p class="reset-password-description">Om denne eposten og brukernavnet er korrekt, skal du motta en kode straks</p>
    <label for="username">Brukernavn</label>
    <input type="text" name="username" id="username" value={{ .username }} readonly />
    <label for="email">Epost</label>
    <input type="email" name="email" id="email" value={{ .email }} readonly />
    
    <label for="password">Passord</label>
    <input type="password" name="password" id="password" placeholder="Ditt nye Passord" required />


    <label for="oneTimeCode">Engangskode</label>
    <input type="text" name="oneTimeCode" id="oneTimeCode" required />

    <input type="submit" value="Tilbakestill Passord" />
</form>