{{ template "header" }}
<main class="login-container">
    <h2>Trappeløp</h2>
    <div class="login-box">
      <form class="login-form" action="/aut/innlogging" method="post">
        <label for="email">Epost</label>
        <input type="email" name="email" id="email" required />
        
        <label for="password">Passord</label>
        <input type="password" name="password" id="password" required />
        
        <input type="submit" value="Logg inn" />
      </form>
      <div class="login-links">
        <a class="register-link" href="/aut/nytt-passord">Glemt passordet?</a>
        <a class="register-link" href="/aut/registrer-bruker">Registrer deg for å delta</a>
      </div>
    </div>
</main>
{{ template "footer" }}